.idea
.DS_Store
.vscode/
.cursor/rules/
storage/framework
storage/app/tenants/
storage/backups/
launch.json
.env
.env.local
.env.production
.env.staging
.env.*.local
.env.bak
go.work
go.work.sum
goravel
main
*.exe
